@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

:root{
    /* Color Palette */
    --clr-font : #000;
    --clr-main : #fff;
    --clr-accent: #169b9b;
    --clr-beg : #ffa500;
    --clr-int : #ff6347;
    --clr-adv : #adff2f;
    --clr-dark-opc : rgba(0, 0, 0, 0.1);
    /* Color Palette - dark mode */
    --clr-dm-main : #1f2329;
    --clr-dm-font : #fff;
}

*, 
*::before, 
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  /* Dark Theme CSS */

.dark-theme{
    --clr-main: var(--clr-dm-main);
    --clr-font: var(--clr-dm-font);
  }

.dark-theme #theme-switcher{
    background: #fff;
}

.dark-theme #theme-switcher img{
    display: block;
}

.dark-theme #theme-switcher::after{
    display: none;
}
  
body {
    font-family: 'Mulish', sans-serif;
    background-color:var(--clr-main);
    color: var(--clr-font);
}
.header-wrapper{
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
     max-height: 10vh; 
     background:var(--clr-main);
     width: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    z-index: 999;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    color: var(--clr-font);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.5em;
}

.logo-span{
    color: var(--clr-accent);
}

nav{
    position: absolute;
    background: var(--clr-main);
    margin-top: 300px; 
    width: 100%;
    background: var(--clr-main);
    z-index: 999;
    transition: transform 0.5s ease-in;
    display: none;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction:column;
}

nav ul li{
    position: relative;
    padding-bottom: 1.5em;
    border-bottom: 1px solid var(--clr-dark-opc);
}


  li::before {
    /* margin: 10px; */
    content: "";
    font-size: 1.5em;
    position: absolute;
    width: 10px;
    height : 10px;
    border-radius: 50%;
    top: 35%;
    left: -0.5em;
}

.adv::before{
    background-color: var(--clr-adv);
}
.inter::before{
    background-color: var(--clr-int);
}
.beginner::before{
    background-color: var(--clr-beg);
}

.nav-links a {
    color: var(--clr-font);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.3em;
}

.burger {
    /* display: none; */
    cursor: pointer;
}

.burger > div {
    width: 25px;
    height: 2px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFadeIn{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes navLinkFadeOut{
    from{
        opacity: 1;
        transform: translateX(0px);
    }
    to{
        opacity: 0;
        transform: translateX(50px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(+45deg) translate(-5px, -5px);
}

/* title section*/
.title{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    margin-top: 1em;
    padding: 2em;
    /* width:fit-content; */
    height: fit-content;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.title .heading h1{
    letter-spacing: 2px;
    font-family: 'Mulish', sans-serif;
    font-size: 1.6em;
}


.title ion-icon{
    font-size: 2em;
    margin-top: 5%;
    margin-left: 0.2em;
}

.datasets{
   padding: 0 2em;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Mulish', sans-serif;
    width: fit-content;
}

.card{
    border: 1px solid ;
    border-radius: 4px;
    box-shadow: rgba(90, 90, 90, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 2em 1em;
    padding: 1.5em;
}

.datasets{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.d-title{
    font-size: 1.5em;
    font-weight: 100;
    margin-bottom: 1em;
    text-transform: capitalize; 
    line-height: 1.5em;  
    position: relative;
}

.d-title::before{
    content: "";
    font-size: 1.5em;
    position: absolute;
    width: 10px;
    height : 10px;
    border-radius: 50%;
    top: 40%;
    left: -0.5em;
    background: var(--clr-beg);
}


.util{
    width: 10em;
    height:fit-content;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.copy-button{
    display: inline-block;
    padding: 0.6rem;
    border: none;
    border-radius: 0.3em;
    background-color: var(--clr-accent);
    font-size: 1.2em;
 }
 

.logo-button a{
    text-decoration: none;
    color: var(--clr-font);
}

.logo-button{
    text-decoration: none;
    color: var(--text-color);
    background-color: transparent;
    font-size: 2.5em;
    margin-top: 12%;
    border:none
}

 #theme-switcher{
     width: 6.5em;
     height: 3em;
     padding: 0.4em;
     margin-top: 1em;
     border-radius: 15em;
     background: var(--clr-dm-main);
     border: none;
     position: relative;
 }

 #theme-switcher::before{
    content: "";
    position: absolute;
    top: 6%;
    left: 4%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--clr-dm-font);
    
 }
 #theme-switcher img{
     width: 2.5em;
     float: right;
    position: absolute;
    top: 0;
    right: 0.2em;
    display: none;
 }


 @media (min-width : 600px){
     .card{
         width: 40%;
     }
 }

 @media (min-width : 800px) {
  
     nav{
         display: flex;
         position: static;
         margin-top: 0;
         margin-left: 5em;
     }

     nav ul {
         flex-direction: row;
         align-items: center;
         font-size: 1em;
     }

     .datasets{
         padding : 1em;
     }

     nav ul li{
        padding: 0 2em 0 0;
        border: none;
     }

     .burger{
         display: none;
     }
    #theme-switcher{
        width: 5.5em;
        height: 2.6em;
        margin-top: 0.5em;
    }

    #theme-switcher::before{ 
        width: 30px;
        height: 30px;
    }
 }

 @media (min-width:1000px){

      nav ul li{
          margin-left: 2em;
      }

      .adv{
          margin-right: 6em;
      }

     .card{
         width: 20em;
     }
 }