@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");
  
:root{
  /* Color Palette */
  --clr-font : #000;
  --clr-main : #fff;
  --clr-accent: #61c7c7;
  --clr-beg : #ffa500;
  --clr-int : #ff6347;
  --clr-adv : #adff2f;
  --clr-dark-opc : rgba(0, 0, 0, 0.1);
  /* Color Palette - dark mode */
  --clr-dm-main : #1f2329;
  --clr-dm-font : #fff;
}

*, 
*::before, 
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  /* Dark Theme CSS */

.dark-theme{
    --clr-main: var(--clr-dm-main);
    --clr-font: var(--clr-dm-font);
  }

.dark-theme #theme-switcher{
    background: #fff;
}

.dark-theme #theme-switcher img{
    display: block;
}

.dark-theme #theme-switcher::after{
    display: none;
}
  
body {
    font-family: 'Mulish', sans-serif;
    background-color:var(--clr-main);
    color: var(--clr-font);
}

.header-wrapper{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  max-height: 10vh; 
  background:var(--clr-main);
  width: 100%;
}
header{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 1em 2em;
 z-index: 999;
 max-width: 1200px;
 margin-left: auto;
 margin-right: auto;
}

.logo {
 color: var(--clr-font);
 text-transform: uppercase;
 letter-spacing: 5px;
 font-size: 1.5em;
}

.logo-span{
 color: var(--clr-accent);
}

nav{
 position: absolute;
 background: var(--clr-main);
 margin-top: 300px; 
 width: 100%;
 background: var(--clr-main);
 z-index: 999;
 transition: transform 0.5s ease-in;
 display: none;
}

nav ul{
 list-style: none;
 display: flex;
 justify-content: space-around;
 flex-direction:column;
}

nav ul li{
 position: relative;
 padding-bottom: 1.5em;
 border-bottom: 1px solid var(--clr-dark-opc);
}

 li{
   list-style: none;
 }

ul li::before {
  margin: 10px;
 content: "\2022";
 font-size: 20px;
 font-weight: bold;
}
.all::before{
  color: pink;
}
.beginner::before{
  color: var(--clr-beg);
 }

.adv::before{
 color: var(--clr-adv);
}
.inter::before{
  color: var(--clr-int);
}
/* ul li::before {
    
    content: "\2022";
    color: tomato;
    font-size: 20px;
    font-weight: bold;
    
    font-weight: bold;
} */

.hide{
  display: none !important;
}
#db-search-form{
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}

#db-search-form input{
  background: transparent;
  color: var(--text-color);
  border-color: black;
  border-radius: 10px;
  height: 25px;
  margin-right: 1em;
  padding: 0.25em 0.5em;
}
.nav-links a {
  color: var(--text-color);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1.3em;
}

.theme {
  cursor: pointer;
}

.burger {
  cursor: pointer;
}

.burger > div {
  width: 25px;
  height: 2px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

.copy-button {
  cursor: pointer;
  display:block;
  padding: 0.4rem;
  border: none;
  border-radius: 0.3em;
  background-color: var(--clr-accent);
  
}
#theme-switcher{
  width: 4.5em;
  height: 2em;
  padding: 0.4em;
  margin-top: 1em;
  border-radius: 15em;
  background: var(--clr-dm-main);
  border: none;
  position: relative;
}

#theme-switcher::before{
 content: "";
 position: absolute;
 top: 6%;
 left: 4%;
 width: 24px;
 height: 24px;
 border-radius: 50%;
 background-color: var(--clr-dm-font);
 
}
#theme-switcher img{
  width: 25px;
  float: right;
 position: absolute;
 top: 0;
 right: 0.2em;
 display: none;
}

@media(min-width :800px){
  nav{
    display: flex;
    position: static;
    margin-top: 0;
    margin-left: 5em;
}

nav ul {
    flex-direction: row;
    align-items: center;
    font-size: 1em;
}

nav ul li{
  padding: 0 2em 0 0;
  border: none;
}

.burger{
   display: none;
}
#theme-switcher{
  width: 4.5em;
  height: 2em;
  margin-top: 0.5em;
}

#theme-switcher::before{ 
  width: 24px;
  height: 24px;
}
}
@media (min-width:1000px){

  nav ul li{
      margin-left: 2em;
  }
}


@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFadeIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes navLinkFadeOut {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(50px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(+45deg) translate(-5px, -5px);
}

/* title section*/
.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid black; */
  margin-top: 40px;
  margin-left: 70px;
  width: fit-content;
  height: fit-content;
}

.title .heading h1 {
  letter-spacing: 2px;
  left: 50px;
  font-family: "Mulish", sans-serif;
  font-size: 30px;
  width: 150px;
}

.title ion-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  z-index: 1;
  display: flex;
  position: relative;
}
.datasets {
  margin: 45px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  font-family: "Mulish", sans-serif;
  width: fit-content;
}
.card {
  border: 1px solid;
  border-radius: 4px;
  box-shadow: rgba(90, 90, 90, 0.2) 0px 2px 8px 0px;
  display: flex;

  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  margin: 20px;
  padding: 5px;
}

.show{
  display: flex;
}

.d-title {
  font-size: 20px;
  font-weight: 100;
  text-transform: capitalize;
  border-right: 2px solid;
  line-height: 25px;
  padding-right: 5px;
}

.util {
  width: 100px;
  height: fit-content;
  /* border: 3px solid cadetblue ; */
  border-radius: 7px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
.d-logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logo-button {
  text-decoration: none;
  color: var(--text-color);
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 25px;
  border: none;
}

.copy-button {
  cursor: pointer;
}

@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }
}

.d-title li::before {
  list-style-type: none;
}
