.all::after{
  content:'';
  position: absolute;
  background: rgb(63,94,251);
  background: linear-gradient(90deg, rgba(63,94,251,1) 18%, rgba(183,136,136,1) 48%, rgba(252,164,70,1) 84%, rgba(250,70,109,1) 99%);
  height: 3px;
  width:0;
  left:0;
  bottom:-10px;
  transition:0.3s; 
}
.all:hover::after{
  width:100%;

}

.beginner::after{
  content:'';
  position: absolute;
  background: rgb(63,94,251);
  background: linear-gradient(90deg, rgba(63,94,251,1) 18%, rgba(183,136,136,1) 48%, rgba(252,164,70,1) 84%, rgba(250,70,109,1) 99%);
  height: 3px;
  width:0;
  left:0;
  bottom:-10px;
  transition:0.3s; 
}
.beginner:hover::after{
  width:100%;

}

.inter::after{
  content:'';
  position: absolute;
  background: rgb(63,94,251);
  background: linear-gradient(90deg, rgba(63,94,251,1) 18%, rgba(183,136,136,1) 48%, rgba(252,164,70,1) 84%, rgba(250,70,109,1) 99%);
  height: 3px;
  width:0;
  left:0;
  bottom:-10px;
  transition:0.3s; 
}
.inter:hover::after{
  width:100%;

}

.adv::after{
  content:'';
  position: absolute;
  background: rgb(63,94,251);
  background: linear-gradient(90deg, rgba(63,94,251,1) 18%, rgba(183,136,136,1) 48%, rgba(252,164,70,1) 84%, rgba(250,70,109,1) 99%);
  height: 3px;
  width:0;
  left:0;
  bottom:-10px;
  transition:0.3s; 
}
.adv:hover::after{
  width:100%;

}
